#lightcontroller{
	position: relative;
	background-color: #E41C44;
	height: inherit;
	width: 190px;
	padding: 10px 0px 0px 10px;
}

#maincontroller{
	position: absolute;
	top: 35px;
	left: 0px;
	height: 340px;
	width: inherit;
}

.lightbutton{
	position: absolute;
	height: 40px;
	width: 180px;
	text-align: center;
	left: 10px;
	border-radius: 5px;
}

.lightbutton h4{
	line-height: 40px;
	vertical-align: middle;
}

#toggleon{
	background-color: #f6a828;
	top: 0px;
}

#toggleoff{
	background-color: rgb(134, 134, 134);
	bottom: 20px;
}

#colorchannelwrapper {
	position: absolute;
	top: 50px;
	left: 12px;
	height: 220px;
	width: 180px;
}

#colorchannel {
	height: 220px;
	width: 180px;
}

#colorpicker-wrapper {
    width: 75%;
    height: inherit;
    position: relative;
    float: left;
}

#colorpicker {
    height: inherit;
}

#colorslider-wrapper {
    width: 20%;
    height: inherit;
    position: relative;
    float: right;
}

#colorpicker-indicator,
#colorslider-indicator  {
	pointer-events: none;
    position: absolute;
}

#colorpicker-indicator {
	width: 10px;
	height: 10px;
	border: 2px solid darkblue;
	border-radius: 8px;
	opacity: .5;
	background-color: white;
}

#colorslider-indicator {
	border-radius: 4px;
    width: 123%;
	height: 10px;
	left: -4px;
	border: 1px solid #ccc;
	background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}
