<link href="/static/css/camera.css" rel="stylesheet" type="text/css">
<div class='left camera-overview'>
	<% 
	var i = 0;
  _.each(srcs, function(src) {
    %>
    <img class="monitor-img" cameraid=<%=i%> src=<%=src%>>
    <% i++ %>
    <%});%>
  </div>

  <div id='camera-focus-wrapper' class='right'>
    <div class='focus-img-wrapper'>
      <img class='focus-img' cameraid=0 src=<%=srcs[0]%>>
    </div>
    <div class='controllers-wrapper'>
      <%
      console.log(controllers);
      _.each(controllers, function(controllerName){

      %>
      <span class='controller' command='<%=controllerName%>'><%=controllerName%></span>
      <% });%>
      <form id="submit-command-form" method="get" target="submit-iframe"></form>
      <iframe name="submit-iframe" width="0" height="0" style="display:none"></iframe>
    </div>
</div>

<script type="text/javascript">
  setInterval(function(){
    var eles = $(".monitor-img");
    
    for (var i = 0; i < eles.length; i++){
      $(".monitor-img[cameraid=" + i + "]").attr("src", $(".monitor-img[cameraid=" + i + "]").attr("src"));
    }
  }, 50);

  setInterval(function(){
    var id = $(".focus-img").attr("cameraid");
    $(".focus-img").attr("src", $(".monitor-img[cameraid=" + id + "]").attr("src"));
  })
</script>
