<link href="/static/css/colorlightcontrol.css" rel="stylesheet" type="text/css">
<div id="lightcontroller">

        <h3><%= this.model.get('id') %></h3>
        
        <div id="maincontroller">
            <div id="toggleon" class="lightbutton"><h4>ON</h4></div>
            <div id="colorchannelwrapper">
                <div id="colorchannel">
                    <div id="colorpicker-wrapper">
                        <div id="colorpicker"></div>
                        <div id="colorpicker-indicator"></div>
                    </div>
                    <div id="colorslider-wrapper">
                        <div id="colorslider"></div>
                        <div id="colorslider-indicator"></div>
                    </div>
                </div>
            </div>
            <div id="toggleoff" class="lightbutton"><h4>OFF</h4></div>
        </div>

</div>